.myBtn {
    padding: 10px 20px;
    color: #007be6;
    font-size: 20px;
    max-width: 200px;
    background-color: transparent;
    border: 1px solid #007be6;
    cursor: pointer;
    transition: all .3s ease;
}

.myBtn:hover {
    background-color: #007be6;
    color: #fff;
}