/backend/node_modules
/backend/build
/backend/.env.prod
/backend/.env.local
/backend/.env.test

/frontend/node_modules
/frontend/build
/frontend/.env.production
/frontend/.env.development

/landing-vue/node_modules
/landing-vue/.nuxt
/landing-vue/*.log*
/landing-vue/.nitro
/landing-vue/.cache
/landing-vue/.output
/landing-vue/.env
/landing-vue/dist