.form {
    width: 500px;
}

.formRow {
   margin: 0px 0px 5px 0px;
}

.rowTop {
    display: flex;
    align-items: end;
}

label {
    font-size: 20px;
}

.error {
    color: red;
    font-size: 14px;
    margin: 0px 0px 1px 10px;
}

.mastersBlock {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.mastersList {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 20px 0px;
    justify-content: center;
}
.masterItem {
    width: 150px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: .3s ease;
    border: 1px solid #fff;
}
.masterItem:not(:last-child) {
    margin: 0px 10px 10px 0px;
}

.masterName {
    font-size: 25px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}
.masterRating {
    margin: auto 0px 25px 0px;
}
.active {
    background-color: #ccc;
    border-color: #aaa;
}


.return {
    position: absolute;
    top: -35px;
    left: -35px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;
}
.return:hover {
    background-color: #eee;
}
.return img {
    width: 80%;
    height: 80%;
    transform: rotate(-90deg);
}
.warning {
    font-size: 20px;
    text-align: center;
}