#root {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: bisque;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


.admin-container {
  display: flex;
  background-color: #eee;
  height: 100vh;
}

.admin-body {
  width: 100%;
  margin: 0px 0px 0px 200px;
}

.admin-body__title {
  font-size: 25px;
  padding: 10px 20px;
  background-color: #505050;
  color: #fff;
}

.admin-body__btns {
  margin: 5px;
}

.admin-body__btns>*:not(:last-child) {
  margin: 0px 5px 0px 0px;
}

.adminError {
  font-size: 20px;
  margin: 10px;
}



.login {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.login h1 {
  text-align: center;
  font-size: 30px;
  margin: 0px 0px 10px 0px;
}



.admin-main {
  padding: 15px;
  font-size: 24px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 15px 0px;
}

.top__item {
  padding: 15px;
  background-color: #fff;
  width: 250px;
  height: 100px;
  border-radius: 10px;
}

.top__title {
  font-size: 28px;
  text-align: center;
}

.top__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.admin-main__title {
  text-align: center;
  font-size: 30px;
  margin: 0px 0px 15px 0px;
}

.modalMessage {
  font-size: 20px;
  text-align: center;
}

.mastersBlock {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.mastersList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 20px 0px;
  justify-content: center;
}

.masterItem {
  width: 150px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  background-color: #eee;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: .3s ease;
  border: 1px solid #fff;
}

.masterItem:not(:last-child) {
  margin: 0px 10px 10px 0px;
}

.masterName {
  font-size: 25px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

.masterRating {
  margin: auto 0px 25px 0px;
}

.active {
  background-color: #ccc;
  border-color: #aaa;
}

.return {
  position: absolute;
  top: -35px;
  left: -35px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s ease;
}

.return:hover {
  background-color: #eee;
}

.return img {
  width: 80%;
  height: 80%;
  transform: rotate(-90deg);
}

.warning {
  font-size: 20px;
  text-align: center;
}

.messageFromEmailWrapper {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.messageFromEmail {
  max-width: 600px;
  margin: 0 auto;
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.messageFromEmail p {
  font-size: 20px;
  margin: 0px 0px 20px 0px;
}