#root {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


.admin-container {
  display: flex;
  background-color: #eee;
  height: 100vh;
}

.admin-body {
  width: 100%;
  margin: 0px 0px 0px 200px;
}

.admin-body__title {
  font-size: 25px;
  padding: 10px 20px;
  background-color: #505050;
  color: #fff;
}

.admin-body__top {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.admin-body__btns {
  margin: 10px;
  display: flex;
  justify-content: end;
}

.admin-body__btns button {
  height: 38px;
  border-radius: 4px;
}

.adminError {
  font-size: 20px;
  margin: 10px;
}



.login {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.login h1 {
  text-align: center;
  font-size: 30px;
  margin: 0px 0px 10px 0px;
}



.admin-main {
  padding: 15px;
  font-size: 24px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 15px 0px;
}

.top__item {
  padding: 15px;
  background-color: #fff;
  width: 250px;
  height: 100px;
  border-radius: 10px;
}

.top__title {
  font-size: 28px;
  text-align: center;
}

.top__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.admin-main__title {
  text-align: center;
  font-size: 30px;
  margin: 0px 0px 15px 0px;
}

.modalMessage {
  font-size: 20px;
  text-align: center;
}

.mastersBlock {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.mastersList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 20px 0px;
  justify-content: center;
  max-height: 310px;
  overflow: auto;
}

.masterItem {
  width: 150px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  background-color: #eee;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: .3s ease;
  border: 1px solid #fff;
}

.masterItem:not(:last-child) {
  margin: 0px 10px 10px 0px;
}

.masterName {
  font-size: 25px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

.masterRating {
  margin: auto 0px 25px 0px;
}

.active {
  background-color: #ccc;
  border-color: #aaa;
}

.return {
  position: absolute;
  top: -15px;
  left: -15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s ease;
}

.return:hover {
  background-color: #eee;
}

.return img {
  width: 80%;
  height: 80%;
  transform: rotate(-90deg);
}

.warning {
  font-size: 20px;
  text-align: center;
}

.messageFromEmailWrapper {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.messageFromEmail {
  max-width: 600px;
  margin: 0 auto;
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.messageFromEmail p {
  font-size: 20px;
  margin: 0px 0px 20px 0px;
}

.tableLink {
  width: 100px;
}

.tableLink span {
  cursor: pointer;
}

.tableLink span:hover {
  text-decoration: underline;
}

.colTitle {
  position: relative;
  cursor: pointer;
  transition: .3s ease;
}

.colTitle:hover {
  background-color: #999;
}

.colTitle::after {
  content: attr(value);
  position: absolute;
  display: none;
  top: 3px;
  right: 3px;
  font-size: 10px;
  color: #555;
}

.colTitle:hover::after {
  display: block;
}

.colTitle__arrow {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 10px;
}

.rc-slider-handle {
  position: absolute;
  background-color: #aaa;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.rc-slider-rail {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.rc-slider-track {
  position: absolute;
  height: 10px;
  border-radius: 6px;
  background-color: #ccc;
  opacity: 100%;
}

.reviewWrapper {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.review {
  background-color: #eee;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
}

.reviewTitle {
  font-size: 25px;
  margin: 0px 0px 20px 0px;
}

.reviewBlock {
  width: 100%;
  margin: 0px 0px 20px 0px;
  text-align: left;
}

.reviewLabel {
  font-size: 18px;
  margin: 0px 0px 10px 0px;
}

.reviewTextarea {
  width: 100%;
  height: 200px;
  resize: vertical;
  border: 1px solid #6F2CFF;
  padding: 5px;
  font-size: 16px;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin: 0px 0px 1px 10px;
}

.carousel {
  width: 500px;
  margin: 10px;
}

.carousel button:before {
  color: #505050;
}