.form {
    width: 500px;
}

.formRow {
    margin: 0px 0px 5px 0px;
}

.rowTop {
    display: flex;
    align-items: end;
}

label {
    font-size: 20px;
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin: 0px 0px 1px 10px;
}

.checkboxWrapper {
    margin: 5px 0px;
    display: flex;
    align-items: center;
}

.checkboxWrapper input {
    width: auto;
}

.checkboxWrapper label {
    font-size: 18px;
    margin: 0px 0px 0px 5px;
}

.checkboxError {
    color: red;
    font-size: 14px;
    margin: 0px 0px -2px 10px;
}

.filterForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.rowColumn {
    width: 280px;
    margin: 0px 5px 0px 0px;
}

.filterFormRow {
    margin: 0px 0px 5px 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filterButton {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 5px;
}

.filterButton button {
    height: 38px;
    border-radius: 4px;
}

.filterButton button:not(:last-child) {
    margin-right: 5px;
}

.formRange {
    display: flex;
    width: 400px;
}

.formRange input {
    margin: 0;
    height: 38px;
    border-radius: 4px;
    border-color: #ccc;
}


.formInputWrapper {
    width: 200px;
}

.formInputWrapper input {
    margin: 0;
    height: 38px;
    border-radius: 4px;
    border-color: #ccc;
}

.formBottom {
    display: flex;
    justify-content: space-between;
}

.orderPrice {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.priceRangeWrapper {
    height: 38px;
    margin: 0px 10px;
}

.priceRange {
    position: relative;
    width: 200px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.priceRangeInput {
    width: 50px;
    margin: 4px;
    padding: 2px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.priceRangeTop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceRangeTop label {
    margin-right: auto;
    align-self: start;
}

.isAgreeMessage {
    color: rgb(19, 169, 19);
    font-weight: bold;
}

.email {
    font-size: 12px;
    color: #666;
}
.searched {
    font-weight: bold;
}