.form {
    width: 500px;
}

.formRow {
   margin: 0px 0px 5px 0px;
}

.rowTop {
    display: flex;
    align-items: end;
}

label {
    font-size: 20px;
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin: 0px 0px 1px 10px;
}