.numPicker {
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.numItem {
    border: 1px solid #6F2CFF;
    color: #6F2CFF;
    width: 100%;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;
}
.numItem:hover {
    background-color: #eee;
}
.numItem:not(:last-child) {
    border-right: 0;
}
.active {
    background-color: #6F2CFF;
    color: #fff;
}
.numItem.active:hover {
    background-color: #6F2CFF;
    color: #fff;
}

.disabled {
    background-color: #ccc;
    border-color: #aaa;
    color: #fff;
    cursor: default;
}
.disabled:hover {
    background-color: #ccc;
    border-color: #aaa;
    color: #fff;
}
.disabled.active:hover {
    background-color: #ccc;
    color: #fff;
}