.mastersBlock {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.mastersList {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 20px 0px;
    justify-content: center;
    max-height: 310px;
    overflow: auto;
}

.masterItem {
    width: 150px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: .3s ease;
    border: 1px solid #fff;
    margin: 4px;
}

.masterName {
    font-size: 25px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.masterRating {
    margin: auto 0px 25px 0px;
}

.active {
    background-color: #ccc;
    border-color: #aaa;
}


.return {
    position: absolute;
    top: -15px;
    left: -15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;
}

.return:hover {
    background-color: #eee;
}

.return img {
    width: 80%;
    height: 80%;
    transform: rotate(-90deg);
}

.warning {
    font-size: 20px;
    text-align: center;
}

.formBottom {
    display: flex;
    justify-content: space-between;
}

.orderPrice {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}