.mastersBlock {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 700px;
}

.mastersList {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 20px 0px;
    justify-content: center;
    max-height: 335px;
    overflow: auto;
}

.masterItem {
    width: 200px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: .3s ease;
    border: 1px solid #fff;
    margin: 4px;
}

.masterName {
    font-size: 25px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.masterRating {
    margin: 0px 0px 10px 0px;
    font-size: 18px;
}

.active {
    background-color: #ccc;
    border-color: #aaa;
}


.return {
    position: absolute;
    top: -15px;
    left: -15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;
}

.return:hover {
    background-color: #eee;
}

.return img {
    width: 80%;
    height: 80%;
    transform: rotate(-90deg);
}

.warning {
    font-size: 20px;
    text-align: center;
}

.formBottom {
    display: flex;
    justify-content: space-between;
}

.orderPrice {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.masterBtn {
    margin-top: auto;
}

.reviews {
    position: absolute;
    width: 300px;
    height: 100%;
    right: -350px;
    top: 0;
    background-color: #fff;
    border-radius: 16px;
    padding: 40px 20px;
    overflow: auto;
}

.reviews h3 {
    font-size: 20px;
    margin: 0px 0px 20px 0px;
    text-align: center;
}

.masterReview {
    font-size: 18px;
    background-color: #eee;
    padding: 5px;
    border-radius: 4px;
}

.masterReview:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.masterReviewTop {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
}
.masterReviewName {
    font-weight: bold;
}
.masterReviewDate {
    font-size: 14px;
    text-align: right;
    margin: 3px 0px 0px 0px;
    color: #777;
}

.close {
    top: 10px;
    left: 10px;
}

.showReviews {
    color: blue;
    cursor: pointer;
}
.showReviews:hover {
    text-decoration: underline;
}
