[type="radio"]{
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	/* visibility: hidden; */
	display: none;
}

.myRadio:checked + label,
.myRadio:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 10px;
	width: 100%;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 1px;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: white;
	transition: all .3s ease;
    border: 1px solid #6F2CFF;
}
.myRadio:not(:checked) + label{
	background-color: transparent;
	color: #6F2CFF;
}
.myRadio:checked + label{
	background-color: #6F2CFF;
}
.myRadio:hover:not(:checked) + label{
	background-color: #eee;
}
.myRadio:not(:checked) + label:hover{
    opacity: 0.9;
}
.myRadio__cont:not(:last-child) > label {
	border-right: 0;
}
.myRadio__cont {
	flex: 1 1 100%;
}