.paginationBtns {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paginationBtns_page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationBtns__btn {
    width: 14px;
    height: 14px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_arrow {
    background: url("../../images/left-arrow.png") 0 0/auto 100% no-repeat;
}

.right_arrow {
    background: url("../../images/right-arrow.png") 0 0/auto 100% no-repeat;
}

.double_arrow {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentPage {
    font-size: 18px;
    height: 30px;
    min-width: 30px;
    padding: 5px;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #cecece;
    user-select: none;
}

.changePage {
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    min-width: 30px;
    margin: 1px;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: .3s ease;
    user-select: none;
}

.changePage:hover {
    background-color: #ddd;
}

.disabled {
    opacity: 30%;
    cursor: default;
}

.disabled:hover {
    background-color: transparent;
}

.paginationBtns_select {
    min-width: 40px;
    height: 30px;
    margin: 5px;
}

.firstPage {
    display: flex;
    width: 14px;
    height: 14px;
    background: url("../../images/left-arrow-double.png") 0 0/auto 100% no-repeat;
}

.lastPage {
    display: flex;
    width: 14px;
    height: 14px;
    background: url("../../images/right-arrow-double.png") 0 0/auto 100% no-repeat;
}

.table {
    background-color: #ccc;
    border: 0;
    width: 100%;
    font-size: 18px;
    border-collapse: collapse;
}

.table th {
    font-family: sans-serif;
}

.table th,
.table td {
    padding: 5px 10px;
    border: 0;
    outline: 0;
}

.table th:not(:last-child),
.table td:not(:last-child) {
    border-right: 1px solid #000;
}

.table tbody tr:nth-child(even) {
    background-color: #eee;
}

.table thead {
    background-color: #aaa;
}

.table th[colSpan] {
    border-bottom: 1px solid #000;
}