.messageWrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 400px;
    overflow: hidden;
}
.message {
    position: relative;
    margin: 0px 10px 10px 0px;
    min-width: 250px;
    font-size: 18px;
    padding: 10px;
    transform: translateX(410px);
    transition: 1s ease-in-out;
}
.red {
    background-color: rgba(237, 84, 84, 0.7);
}
.green {
    background-color: rgba(130, 236, 130, 0.7);
}
.show {
    transform: translateX(0px);
}
