.myBtn {
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    background-color: #6F2CFF;
    border: 1px solid #6F2CFF;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 20px;
    font-family: sans-serif;
}

.myBtn:hover {
    background-color: transparent;
    color: #6F2CFF;
}

.disabledBtn {
    background-color: #ccc;
    border-color: #ccc;
    cursor: default;
}
.disabledBtn:hover {
    background-color: #ccc;
    color: #fff;
}