.facebook {
    height: 40px;
    width: 40px;
    border: 1px solid #dadce0;
    background-color: #ffffff;
    border-radius: 50%;
    transition: .218s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.facebook img {
    width: 60%;
}
.facebook:hover {
    border-color: #D4E4FC;
    background-color: #F8FAFF;
}