.toggler {
    width: 100%;
    height: 40px;
    border: 1px solid #6F2CFF;
    color: #6F2CFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    transition: .3s ease;
}

.toggler.active {
    background-color: #6F2CFF;
    color: #fff;
}